@import 'libs/reset'
@import 'nib/gradients'
@import 'nib/positions'
@import 'nib/vendor'
@import 'libs/classes'
@import 'libs/emoticons'

body
    background #272822
    color white
    font 200 100% "Helvetica Neue", Helvetica, Arial
    line-height 1em
    width 100%
#chat
    padding 10px
#pop
    display none
#salir
    display(none)
    absolute right 10px top 10px
#count
    margin 5px 0 15px 0
input,
textarea
    border 1px solid #ddd
    box-sizing()
    display(block)
    padding 4px
input[type="text"]
    margin-bottom 10px
    width 100%
#mensaje
    height 60px
    width 100%
#messages
    background #eaeaea
    overflow-y scroll
    &::-webkit-scrollbar
        width 8px
    &::-webkit-scrollbar-track
        background #bbb
    &::-webkit-scrollbar-thumb
        background #888
    &::-webkit-scrollbar-thumb:hover
        background #777
    &::-webkit-scrollbar-thumb:active
        background #555
    li
        margin 10px auto 0 auto
        position relative
        width 98%
    .avatar
        background #272822
        border-radius(50%)
        height 48px
        absolute top 0
        width 48px
        a
            display(block)
            height 48px
            width 48px
        img
            border-radius(50%)
            box-shadow(0 0 10px #777)
    .text
        background #fff
        border-radius(4px)
        box-shadow(0 1px 2px #aaa)
        margin-left 65px
        padding 10px 10px 10px 10px
        position relative
        &:before
        &:after
            border-style solid
            border-width 5px
            content ''
            absolute top 13px
        &:before
            border-color transparent #bbb transparent transparent
            left -11px
        &:after
            border-color transparent #fff transparent transparent
            left -10px
        a
            color #414141
            font-size 0.945em
            font-weight 700
            letter-spacing 1px
            margin-right 10px
            text-decoration none
        time
            color #aaa
            font-size 0.7em
            font-weight 700
        p
            color #414141
            font-size 0.845em
            margin-top 2px
            word-wrap break-word