@import 'libs/reset'
@import 'nib/gradients'
@import 'nib/positions'
@import 'nib/vendor'
@import 'libs/classes'
@import 'libs/emoticons'

body
    background #272822
    color white
    font 200 100% "Helvetica Neue", Helvetica, Arial
    line-height 1em
    width 100%
#chat
    padding 10px
#pop
    display none
#salir
    display(none)
    absolute right 10px top 10px
#count
    margin 5px 0 15px 0
input,
textarea
    border 1px solid #ddd
    box-sizing()
    display(block)
    padding 4px
input[type="text"]
    margin-bottom 10px
    width 100%
#mensaje
    height 60px
    width 100%
#messages
    height 450px
    overflow-y scroll
    &::-webkit-scrollbar
        width 8px
    &::-webkit-scrollbar-track
        background #bbb
    &::-webkit-scrollbar-thumb
        background #888
    &::-webkit-scrollbar-thumb:hover
        background #777
    &::-webkit-scrollbar-thumb:active
        background #555
    li
        margin 10px auto 0 auto
        overflow hidden
        position relative
        width 98%
        &:nth-child(2n+1) .text
            background #333
            background linear-gradient(top, #333, #444)
        &:nth-child(2n+2) .text
            background #666
            background linear-gradient(top, #444, #333)
    .avatar
        background #272822
        border 10px solid #272822
        border-radius(4px 50% 50% 50%)
        height 48px
        absolute left -10px top -5px
        width 48px
        a
            display(block)
            height 48px
            width 48px
        img  
            border-radius(50%)
            box-shadow(0 0 6px #a3b7be)
    .text
        border-radius(4px)
        padding 10px 10px 10px 65px
        a
            color #fff
            font-size 0.945em
            font-weight 700
            letter-spacing 1px
            margin-right 10px
            text-shadow 0 1px 1px #777
            text-decoration none
        time
            font-size 0.8em
            font-weight 700
            text-shadow 0 1px 1px #777
        p
            color #f1f1f1
            font-size 0.845em
            margin-top 2px
            word-wrap break-word