@import 'libs/reset'
@import 'nib/gradients'
@import 'nib/positions'
@import 'nib/vendor'
@import 'libs/classes'
@import 'libs/emoticons'

body
    background #272822
    color white
    font 200 100% "Helvetica Neue", Helvetica, Arial
    line-height 1em
    width 100%
#pop
    display none
#chat
    padding 10px

#count
    margin 5px 0 15px 0

input,
textarea
    border 1px solid #ddd
    box-sizing()
    display block
    padding 4px

input[type="text"]
    margin-bottom 10px
    width 100%

#mensaje
    height 60px
    width 100%

#messages
    height 450px
    margin-top 10px
    overflow-x hidden
    overflow-y scroll
    &::-webkit-scrollbar
        width 8px
    &::-webkit-scrollbar-track
        background #bbb
    &::-webkit-scrollbar-thumb
        background #888
    &::-webkit-scrollbar-thumb:hover
        background #777
    &::-webkit-scrollbar-thumb:active
        background #555
    li
        margin 0 auto 15px auto
        width 98%
        &:nth-child(2n+1) .text
            background #bfd8dd
            background linear-gradient(top, #bfd8dd, #94b1b9)
            box-shadow(inset 0 2px 2px #e1eaef\, 0 1px 2px #a3b7be)
            &:after
                border-color transparent rgba(#bfd8dd, 0.8) transparent transparent
            p
                text-shadow 0 1px 1px #f1f1f1
        &:nth-child(2n+2) .text
            background #7b919c
            background linear-gradient(top, #7b919c, #6a7a8a)
            box-shadow(inset 0 2px 2px #a8b6bf\, 0 1px 2px #44505c)
            &:after
                border-color transparent rgba(#7b919c, 0.8) transparent transparent
            p
                text-shadow 0 1px 1px #ccc
    .avatar
        background #272822
        float left
        height 48px
        width 48px
        a
            display block
            height 48px
            width 48px
        img
            border-radius(50%)
            box-shadow(0 0 6px #a3b7be)
    .text
        border-radius(16px)
        margin-left 70px
        padding 10px
        position relative
        &:after
            border-width 15px
            border-style solid
            content ''
            absolute left -29px top 12px
        a
            color #fff
            font-size 0.945em
            font-weight 700
            letter-spacing 1px
            margin-right 10px
            text-shadow 0 1px 1px #777
            text-decoration none
        time
            font-size 0.8em
            font-weight 700
            text-shadow 0 1px 1px #777
        p
            color #222 //#3f4042
            font-size 0.845em
            margin-top 2px
            word-wrap break-word