* {
	margin: 0;
	padding: 0;
}
body {
	background: #272822;
	color: white;
	font: 200 100% "Helvetica Neue", Helvetica, Arial;
	line-height: 1em;
	width: 100%;
}
#chat {
	padding: 10px;
}
#count {
	margin: 5px 0 15px 0;
}
input,
textarea {
	border: 1px solid #ddd;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 4px;
}
input[type="text"] {
	margin-bottom: 10px;
	width: 25%;
}
#mensaje {
	height: 80px;
	width: 100%;
}
#messages {
	list-style-type: none;
	margin-top: 10px;
	overflow-x: hidden;
}
#messages .avatar,
#messages .text {
	display: inline-block;
	vertical-align: top;
}
#messages .avatar {
	height: 38px;
	width: 38px;
}
#messages .avatar a {
	display: block;
	height: 38px;
	width: 38px;
}
#messages .avatar img {
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-wevkit-border-radius: 4px;
	border-radius: 4px;
}
#messages .text {
	padding: 0 10px;
}
#messages .text a {
	color: #fff;
	display: block;
	font-size: 1.04em;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 2px 0 11px 0;
	text-decoration: none;
}
#messages .text p {
	font-size: 0.9em;
}
#messages li {
	border-top: 2px solid #666;
	padding: 10px;
}
#messages li:nth-child(2n+1) {
	background: #333;
}
#messages p {
	border-radius: 5px;
	margin-top: -5px;
}

/* emoticones */
.emoticon {
	background: url(../img/emoticons.png) no-repeat left top;
	display: inline-block;
	height: 16px;
	position: relative;
	top: 3px;
	width: 16px;
}
.emoticon[title=":)"] {
	background-position: 0 0;
}
.emoticon[title=":("] {
	background-position: -16px 0px;
}
.emoticon[title=":p"],
.emoticon[title=":P"] {
	background-position: -32px 0;
}
.emoticon[title=":D"] {
	background-position: -48px 0;
}
.emoticon[title=":o"],
.emoticon[title=":O"] {
	background-position: -64px 0;
}
.emoticon[title=";)"] {
	background-position: -80px 0px;
}
.emoticon[title="8)"] {
	background-position: -96px 0px;
}
.emoticon[title="B|"] {
	background-position: -112px 0px
}
.emoticon[title=">:("] {
	background-position: -128px 0px
}
.emoticon[title=":/"] {
	background-position: -144px 0px
}
.emoticon[title=":'("] {
	background-position: -160px 0px
}
.emoticon[title="3:)"] {
	background-position: -176px 0px
}
.emoticon[title="o:)"],
.emoticon[title="O:)"] {
	background-position: -192px 0px
}
.emoticon[title=":*"] {
	background-position: -208px 0px
}
.emoticon[title="<3"] {
	background-position: -224px 0px
}
.emoticon[title="^_^"] {
	background-position: -240px 0px
}
.emoticon[title="-_-"] {
	background-position: -256px 0px
}
.emoticon[title="o.O"] {
	background-position: -272px 0px
}
.emoticon[title=">.<"] {
	background-position: -288px 0px
}
.emoticon[title=":v"],
.emoticon[title=":V"] {
	background-position: -304px 0px
}
.emoticon[title=":3"] {
	background-position: -320px 0px
}
.emoticon[title="(y)"],
.emoticon[title="(Y)"] {
	background-position: -336px 0px
}