.emoticon
  background: url(../img/emoticons.png) no-repeat left top
  display: inline-block
  height: 16px
  /*position: relative
  top: 3px*/
  width: 16px

.emoticon[title=":)"]
  background-position: 0 0

.emoticon[title=":("]
  background-position: -16px 0px

.emoticon[title=":p"],
.emoticon[title=":P"]
  background-position: -32px 0

.emoticon[title=":D"]
  background-position: -48px 0

.emoticon[title=":o"],
.emoticon[title=":O"]
  background-position: -64px 0

.emoticon[title=";)"]
  background-position: -80px 0px

.emoticon[title="8)"]
  background-position: -96px 0px

.emoticon[title="B|"]
  background-position: -112px 0px

.emoticon[title=">:("]
  background-position: -128px 0px

.emoticon[title=":/"]
  background-position: -144px 0px

.emoticon[title=":'("]
  background-position: -160px 0px

.emoticon[title="3:)"]
  background-position: -176px 0px

.emoticon[title="o:)"],
.emoticon[title="O:)"]
  background-position: -192px 0px

.emoticon[title=":*"]
  background-position: -208px 0px

.emoticon[title="<3"]
  background-position: -224px 0px

.emoticon[title="^_^"]
  background-position: -240px 0px

.emoticon[title="-_-"]
  background-position: -256px 0px

.emoticon[title="o.O"]
  background-position: -272px 0px

.emoticon[title=">.<"]
  background-position: -288px 0px

.emoticon[title=":v"],
.emoticon[title=":V"]
  background-position: -304px 0px

.emoticon[title=":3"]
  background-position: -320px 0px

.emoticon[title="(y)"],
.emoticon[title="(Y)"]
  background-position: -336px 0px